spring:
  application:
    name: service-registry
eureka:
  client:
    register-with-eureka: false
    fetch-registry: false
server:
  port: 8761
# Grafana Cloud Loki Configuration
loki:
  url: ${LOKI_URL:https://logs-prod-028.grafana.net}
  user: ${LOKI_USER:1431940}
  password: ${LOKI_PASSWORD:}





