server:
  port: 8088

spring:
  application:
    name: ADMIN-SERVICE
  config:
    import: optional:configserver:${CONFIG_SERVER_URI:http://localhost:8089}

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${ADMIN_DB:admin_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:1122334455}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info





