server:
  port: 8081

spring:
  application:
    name: ORDER-SERVICE

  datasource:
    url: jdbc:postgresql://localhost:5432/microst
    username: postgres
    password: 1122334455

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost

# ✅ RESILIENCE4J — ONLY HERE
resilience4j:
  circuitbreaker:
    instances:
      paymentCB:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 10s
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true

  retry:
    instances:
      paymentRetry:
        maxAttempts: 3
        waitDuration: 1s

  timelimiter:
    instances:
      paymentTimeLimiter:
        timeoutDuration: 2s

  ratelimiter:
    instances:
      paymentRateLimiter:
        limitForPeriod: 5
        limitRefreshPeriod: 10s

  bulkhead:
    instances:
      paymentBulkhead:
        maxConcurrentCalls: 3

logging:
  level:
    io.github.resilience4j.circuitbreaker: DEBUG
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus