server:
  port: 8085

spring:
  application:
    name: CART-SERVICE
  config:
    import: optional:configserver:${CONFIG_SERVER_URI:http://localhost:8089}

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${CART_DB:cart_db}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:1122334455}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    defer-datasource-initialization: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always

  jackson:
    serialization:
      write-dates-as-timestamps: false

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  tracing:
    sampling:
      probability: 0.0
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_URL:http://localhost:9411}/api/v2/spans

# Grafana Cloud Loki Configuration
loki:
  url: ${LOKI_URL:https://logs-prod-028.grafana.net}
  user: ${LOKI_USER:1431940}
  password: ${LOKI_PASSWORD:}





