# Render deployment profile
server:
  port: ${SERVER_PORT:8089}

spring:
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/config-repo

eureka:
  instance:
    hostname: ${RENDER_EXTERNAL_HOSTNAME:localhost}
    prefer-ip-address: false
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://localhost:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: health,info
